Source/CM.Payments.Client.Net45/Connected Services/ServiceReference1/1_3.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ddp="http://www.docdatapayments.com/services/paymentservice/1_3/" elementFormDefault="qualified" targetNamespace="http://www.docdatapayments.com/services/paymentservice/1_3/" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="country">
    <annotation>
      <documentation>Country code according to ISO 3166.</documentation>
    </annotation>
    <attribute name="code" type="ddp:countryCode" use="required" />
  </complexType>
  <complexType name="language">
    <annotation>
      <documentation>Language code according to ISO 639.</documentation>
    </annotation>
    <attribute name="code" type="ddp:languageCode" use="required" />
  </complexType>
  <simpleType name="uuid-type4">
    <annotation>
      <documentation>
                A UUID type 4 token, which is compliant with RFC-4122 and ITU-T Rec. X.667. See also
                https://en.wikipedia.org/wiki/Universally_unique_identifier#Definition
            </documentation>
    </annotation>
    <restriction base="token">
      <pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89aAbB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}" />
    </restriction>
  </simpleType>
  <simpleType name="languageCode">
    <annotation>
      <documentation>ISO 639-1:2002 Part 1: Alpha-2 Language Codes
                (lowercase)
            </documentation>
    </annotation>
    <restriction base="string">
      <pattern value="[a-z][a-z]" />
    </restriction>
  </simpleType>
  <simpleType name="countryCode">
    <annotation>
      <documentation>ISO 3166-1:2006</documentation>
    </annotation>
    <restriction base="string">
      <pattern value="[A-Z][A-Z]" />
    </restriction>
  </simpleType>
  <simpleType name="currency">
    <annotation>
      <documentation>ISO 4217:2008</documentation>
    </annotation>
    <restriction base="string">
      <pattern value="[A-Z][A-Z][A-Z]" />
    </restriction>
  </simpleType>
  <simpleType name="plainDate">
    <annotation>
      <documentation>
                A date formatted as yyyy-MM-dd, for example February
                25th, 2014 would become "2012-02-25".
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="10" />
      <maxLength value="10" />
      <pattern value="((1[89])|(2[01]))\d{2}-((1[012])|0[1-9])-((0[1-9])|(3[01])|([12]\d))" />
    </restriction>
  </simpleType>
  <simpleType name="plainDateTime">
    <annotation>
      <documentation>
                A date formatted as yyyy-MM-dd HH:mm:ss, for example
                February
                25th, 2014, 3 past twelve and 4
                seconds, would become
                "2012-02-25 12:03:04".
            </documentation>
    </annotation>
    <restriction base="normalizedString">
      <minLength value="19" />
      <maxLength value="19" />
    </restriction>
  </simpleType>
  <simpleType name="string35">
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="35" />
    </restriction>
  </simpleType>
  <simpleType name="string50">
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="string100">
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <simpleType name="string250">
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="250" />
    </restriction>
  </simpleType>
  <simpleType name="string255">
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="255" />
    </restriction>
  </simpleType>
  <simpleType name="string512">
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="512" />
    </restriction>
  </simpleType>
  <simpleType name="string2048">
    <restriction base="normalizedString">
      <minLength value="1" />
      <maxLength value="2048" />
    </restriction>
  </simpleType>
  <simpleType name="primaryAccountNumber">
    <annotation>
      <documentation>Debit- or credit card number.</documentation>
    </annotation>
    <restriction base="NMTOKEN">
      <pattern value="[0-9]{13,19}" />
    </restriction>
  </simpleType>
  <simpleType name="securityCode">
    <annotation>
      <documentation>3 or 4 digit security code (cvc2, cid, cvv2).</documentation>
    </annotation>
    <restriction base="NMTOKEN">
      <pattern value="[0-9]{3,4}" />
    </restriction>
  </simpleType>
  <complexType name="expiryDate">
    <attribute name="month" use="required">
      <simpleType>
        <restriction base="NMTOKEN">
          <pattern value="(0[1-9]|1[012])" />
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="year" use="required">
      <simpleType>
        <restriction base="NMTOKEN">
          <pattern value="[0-9][0-9]" />
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType name="phoneNumber">
    <annotation>
      <documentation>
                Phone number, international numbers start with a +.
            </documentation>
    </annotation>
    <restriction base="ddp:string50" />
  </simpleType>
  <simpleType name="securityToken">
    <annotation>
      <documentation>
                Type for transmitting a security token. This token can be a SHA-512 hash using textual representation
                (128 characters).
            </documentation>
    </annotation>
    <restriction base="NMTOKEN">
      <minLength value="1" />
      <maxLength value="128" />
    </restriction>
  </simpleType>
  <simpleType name="emailAddress">
    <annotation>
      <documentation>
                Email address, all characters are allowed except white space, single quote, and double quote.
            </documentation>
    </annotation>
    <restriction base="ddp:string100">
      <pattern value="[^\s'&quot;]+@[^\s'&quot;.@]+(\.[^\s'&quot;.@]+)*" />
    </restriction>
  </simpleType>
  <simpleType name="gender">
    <restriction base="string">
      <enumeration value="M">
        <annotation>
          <documentation>Male</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>Female</documentation>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>Undefined</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <complexType name="vat">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="amount" type="ddp:amount" />
    </sequence>
    <attribute name="rate" type="ddp:vatRate" use="required" />
  </complexType>
  <simpleType name="vatRate">
    <restriction base="decimal">
      <whiteSpace value="collapse" />
      <minInclusive value="0" />
    </restriction>
  </simpleType>
  <complexType name="amount">
    <annotation>
      <documentation>The amount in the minor unit for the given
                currency.
                (E.g. for EUR in cents)
            </documentation>
    </annotation>
    <simpleContent>
      <extension base="int">
        <attribute name="currency" type="ddp:currency" use="required" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="successCode">
    <annotation>
      <documentation>The success code of the success.</documentation>
    </annotation>
    <restriction base="NMTOKEN">
      <enumeration value="SUCCESS">
        <annotation>
          <documentation>The operation was generally successful.
                    </documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="errorCode">
    <annotation>
      <documentation>The error code of the error.
                <!-- suggested enumerations --><restriction base="NMTOKEN" xmlns="http://www.w3.org/2001/XMLSchema"><enumeration value="UNKNOWN_ERROR"><annotation><documentation>The reason of error is unknown.</documentation></annotation></enumeration><enumeration value="REQUEST_DATA_MISSING"><annotation><documentation>Request data is missing.</documentation></annotation></enumeration><enumeration value="REQUEST_DATA_INCORRECT"><annotation><documentation>Request data is incorrect.</documentation></annotation></enumeration><enumeration value="SECURITY_ERROR"><annotation><documentation>Error related to security violations such as login
                                failure or not allowed IP.
                            </documentation></annotation></enumeration><enumeration value="INTERNAL_ERROR"><annotation><documentation>Payment system error.</documentation></annotation></enumeration></restriction></documentation>
    </annotation>
    <restriction base="NMTOKEN" />
  </simpleType>
  <complexType name="menuPreferences">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="css">
        <annotation>
          <documentation>
                        The id of the CSS file that should be used in
                        the payment menu.
                    </documentation>
        </annotation>
        <complexType>
          <attribute name="id" type="int" use="required" />
        </complexType>
      </element>
    </sequence>
  </complexType>
  <simpleType name="paymentOrderKey">
    <restriction base="normalizedString">
      <minLength value="32" />
      <maxLength value="32" />
      <pattern value="[A-Z,0-9]{32}" />
    </restriction>
  </simpleType>
  <simpleType name="bic">
    <restriction base="NMTOKEN">
      <minLength value="8" />
      <maxLength value="11" />
    </restriction>
  </simpleType>
  <simpleType name="iban">
    <restriction base="NMTOKEN">
      <minLength value="15" />
      <maxLength value="34" />
    </restriction>
  </simpleType>
  <simpleType name="httpMethod">
    <annotation>
      <documentation>HTTP method</documentation>
    </annotation>
    <restriction base="string">
      <pattern value="GET|POST|PUT|DELETE|HEAD|TRACE|OPTIONS" />
    </restriction>
  </simpleType>
  <complexType name="parameters">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="parameter">
        <complexType>
          <simpleContent>
            <extension base="ddp:string2048">
              <attribute name="name" type="ddp:string50" use="required" />
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <simpleType name="iDealIssuerId">
    <annotation>
      <documentation>
    			The iDEAL issuer id, for example RABO, ABNAMRO, ING, SNS. See the documentation for possible issuing banks.
            </documentation>
    </annotation>
    <restriction base="NMTOKEN" />
  </simpleType>
  <complexType name="consideredSafe">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="value" type="boolean">
        <annotation>
          <documentation>
                        True when the order is considered safe based on the considered safe profile.
                    </documentation>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="1" name="level" type="ddp:string35">
        <annotation>
          <documentation>
                        The considered safe level, e.g. SAFEST, SAFE, FAST or FASTEST.
                    </documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="date" type="dateTime">
        <annotation>
          <documentation>
                        The date when the order became considered safe. Only filled when the value is true.
                    </documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="reason" type="ddp:reason">
        <annotation>
          <documentation>
                        The reason for the modification of the considered safe state.
                    </documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="modifiedUser" type="ddp:string50">
        <annotation>
          <documentation>
                        The user which has made the change when modifiedType equals MANUAL.
                    </documentation>
        </annotation>
      </element>
      <any minOccurs="0" maxOccurs="unbounded" namespace="##local" />
    </sequence>
  </complexType>
  <simpleType name="reason">
    <annotation>
      <documentation>
                The error code of the error.
                <restriction base="NMTOKEN" xmlns="http://www.w3.org/2001/XMLSchema"><enumeration value="EXACT_MATCH"><annotation><documentation>Considered safe based on exact match.</documentation></annotation></enumeration><enumeration value="MARGIN_MATCH_LESS"><annotation><documentation>Considered safe based on match within margin (but less than expected).</documentation></annotation></enumeration><enumeration value="MARGIN_MATCH_MORE"><annotation><documentation>Considered safe based on match within margin (but more than expected).</documentation></annotation></enumeration><enumeration value="TOO_MUCH"><annotation><documentation>Considered safe, but too much, since more than expected and outside margin.</documentation></annotation></enumeration><enumeration value="MANUAL"><annotation><documentation>Considered safe based on manual action by user.
                            </documentation></annotation></enumeration></restriction></documentation>
    </annotation>
    <restriction base="NMTOKEN" />
  </simpleType>
</schema>